matplotlib==3.1.3
scikit-learn
scipy>=1.2.1
seaborn==0.10.1
tqdm==4.46.0
numpy>=1.19.3
pandas==0.25.1
gensim==3.8.3
theano==1.0.4
nltk==3.4.5
opencv-python~=4.1.0
protobuf==3.7.1
regex==2020.7.14
slurmpy==0.0.8
wordsegment==1.3.1
prettytable==0.7.2
argunparse==0.1.2
tk
urllib3
chardet
idna
filelock
sacremoses
astor
termcolor
keras_applications
werkzeug
transformers
